*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

body {
    min-height: 100vh;
    background: #efece7;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Logo */
.logo {
    color: #507949;
    -webkit-user-select: none;
    user-select: none;
    font-size: 1.3rem;
    line-height: 50px;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.se_connecter {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #c9c8c8;
    margin: 40px auto;
}
.se_connecter img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    
}
.cover_box{
    position: relative;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: white;
}

/* .cover_box .active-popup {
transform: scale(1);
} */
.cover_box .active{
height: 100vh;
}

.cover_box .form-box {
    width: 100%;
    padding: 0 40px;
}

.cover_box .form-box.login {
    transition: transform .50s ease;
}

.cover_box.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.cover_box .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.cover_box.active .form-box.register {
    transition: transform .50s ease;
    transform: translateX(0);
}

/* .cover_box .icon-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
} */

.form-box h2 {
    font-size: 2em;
    color: #507949;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 600;
    pointer-events: none;
    transition: .5s;

}

.input-box input:focus ~ label , .input-box input:valid ~ label  {
top: -10px;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}

.remenber-forgot {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}

.remenber-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remenber-forgot a {
    color: #c4a276;
}

.remenber-forgot a:hover {
    text-decoration: underline;
}


.btn {
    width: 100%;
    height: 45px;
    background-color: #507949;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;

}

.login-register{
    font-size: .9em;
    color: #c9c8c8;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #9a9a9a;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}


@media screen and (max-width:768px){
    img {
        display: none;
    }

    body {
        background-color: white;
        min-height: 100vh;
    }

    .cover_box{
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: white;
    }

    .se_connecter {
        display: flex;
        flex-direction: row-reverse;
        border-radius: 10px;
        margin: 0;
    }
}